[user]
	email = gongxiaochao@espressif.com
	name = XiaochaoGONG
[alias]
	st = status
	br = branch
    ch = checkout
    co = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = vim
	pager = less -F -X
[diff]
	tool = bc4
[difftool]
	prompt = true
[difftool "bc4"]
	cmd = \"/usr/bin/bcompare\" \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc4
[mergetool]
	prompt = false
[mergetool "bc4"]
	cmd = \"/usr/bin/bcompare\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustexitcode = true
